* {
    box-sizing: border-box;
}

// Самый часто встречающий шрифт 
//================================================================================================
body {
    @include fontMain
 }

// Стилизация контейнера
//================================================================================================
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}