//Montserrat 700, 900
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v25-cyrillic-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v25-cyrillic-700.woff') format('woff'); 
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/montserrat-v25-cyrillic-900.woff2') format('woff2'), 
         url('../fonts/montserrat-v25-cyrillic-900.woff') format('woff'); 
}
//================================================================================================
//Roboto 400, 500
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-cyrillic-regular.woff2') format('woff2'), 
         url('../fonts/roboto-v30-cyrillic-regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v30-cyrillic-500.woff2') format('woff2'), 
         url('../fonts/roboto-v30-cyrillic-500.woff') format('woff'); 
}


/*Open Sanss 700  */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v34-cyrillic-700.woff2') format('woff2'), 
         url('../fonts/open-sans-v34-cyrillic-700.woff') format('woff'); 
}