@media (max-width: 995px) {
    .logo {
        width: 90px;
        height: 30px;
    }
    .menu {
        &__item {
            margin-right: 15pxpx;
        }
        &__link {
            font-size: 16px;
            line-height: 23px;
        }
    }

    .header__btn {
        padding: 8px 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 15px;
    }

    .company__list {
        &-icon {
            margin-right: 15px;
        }
        &-item {
            margin-bottom: 15px;
        }
        &-text {
            font-size: 20px;
            line-height: 25px;
        }
    }
}