@media (max-width: 850px) {
    .promo__form {
        @include flexColum;
        &-name {
            margin-bottom: 14px;
            padding: 11px 16px;
            max-width: 300px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #000000;
        }
        &-tel {
            margin-bottom: 14px;
            padding: 11px 16px;
            max-width: 300px;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: #000000;
        }
        &-btn {
            padding: 10px 30px;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
        }
    }

    .company__list {
        &-icon {
            margin-right: 15px;
        }
        &-item {
            margin-bottom: 15px;
        }
        &-text {
            font-size: 16px;
            line-height: 15px;
        }
    }
    
    .company__logo-img {
        max-width: 380px;
    }
}