.services {
    margin-bottom: 100px;
    background-color: $mainColor;
}

.services__title {
    padding-bottom: 70px;
    @include fontTitleH2;
    margin-bottom: 100px;
    text-align: center;
    background-color: #ffffff;
}

.services__wrapper {
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    height: 280px;
    position: relative;
    z-index: 1;
    &-img {
        position: absolute;
        top: 0;
        left: -10px;
        z-index: -2;
        border-radius: 5px;
    }
    &-subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        text-align: center;
        color: #ffffff;
        text-shadow: 5px 0 5px #000,
    }
}    