//СЕМЕЙСТВО ШРИФТА
//Семейство основного шрифта
$mainFF: 'Roboto';

//Семейство шрифта titleH1
$titleH1FF: 'Montserrat';

//Семейство шрифта titleH2
$titleH2FF: 'Montserrat';

//Семейство шрифта titleH3
//$titleH3FF: ;

//Семейство шрифта titleH4
//$titleH4FF: ;

//Семейство шрифта titleH5
//$titleH5FF: ;

//Семейство шрифта titleH6
//$titleH6FF: ;

//Семейство шрифта bottom
$fontFFBtn: 'Open Sans';
//================================================================================================
//================================================================================================

//РАЗМЕРЫ ШРИФТОВ

//Размер основного шрифта
$mainFZ: 24px;

//Размер шрифта titleH1
$titleH1FZ: 48px;

//Размер шрифта titleH2
$titleH2FZ: 32px;

//Размер шрифта titleH3
//$titleH3FZ: ;

//Размер шрифта titleH4
//$titleH4FZ: ;

//Размер шрифта titleH5
//$titleH5FZ: ;

//Размер шрифта titleH6
//$titleH6FZ: ;

//Размер шрифта bottom
$fontFZBtn: 20px;
//================================================================================================
//================================================================================================

//ТОЛЩИНА ШРИФТОВ

//Толщина основного шрифта
$mainFW: 500;

//Толщина шрифта titleH1
$titleH1FW: 600;

//Толщина шрифта titleH2
$titleH2FW: 600;

//Толщина шрифта titleH3
//$titleH3FW: ;

//Толщина шрифта titleH4
//$titleH4FW: ;

//Толщина шрифта titleH5
//$titleH5FW: ;

//Толщина шрифта titleH6
//$titleH6FW: ;

//Толщина шрифта bottom
$fontFWBtn: 400;
//================================================================================================
//================================================================================================

//ВЫСОТА ШРИФТОВ

//Высота основного шрифта
$mainLH: 43px;

//Высота шрифта titleH1
$titleH1LH: 59px;

//Высота шрифта titleH2
$titleH2LH: 39px;

//Высота шрифта titleH3
//$titleH3LH: ;

//Высота шрифта titleH4
//$titleH4LH: ;

//Высота шрифта titleH5
//$titleH5LH: ;

//Высота шрифта titleH6
//$titleH6LH: ;

//Высота шрифта bottom
$fontLHBtn: 27px;
//================================================================================================
//================================================================================================

//ЦВЕТА САЙТА
//Оснойной цвет
$mainColor: #9CC3E7;

//Цвет кнопок
$btnColor: #D87731;



